body{
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    /*background-color: #eee;*/
}
.main{
    background-color: #fff;
}
.ft1{
    background-color: #17a2b8;
    padding: 10px;
}
.ft1 p{
    color: #fff;
}
.ft2{
    background-color: #dc3545;
    padding: 2px;
}
.ft2 p{
    margin-top: 1%;
    color: #eeeeee;
}
.banner img{
    width: 100%;
    background-size: cover;
}
.dropdown-item{
    cursor: pointer;
}